.imgHeader {
  position: relative;
  height: 58em;
  width: 100%;
  /* opacity: 90%; */
}
.shopName{
  position: absolute;
  top: 25%;
  left: 8%;
  font-family: Cinzel;
  font-size: 5.5em;

}
.moodCreator{
  font-size: 2.5em;
  position: absolute;
  top: 65%;
  left: 38%;
  font-family: Cinzel;
  color: #dacb8d;
  font-weight: bold;
}
